* {
    box-sizing: border-box;
    font-family: 'quicksand', Arial, sans-serif;
}


/*===== header =====*/
.site-title,
.header-contact {
    font-size: 28px;
}

.header-contact {
    color: red;
}

/*===== end header =====*/

/*===== main section =====*/

.greeting {
    color: green;
}

/*===== projects - common styles =====*/
.projects-section {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    flex-wrap: wrap;
}

.image-wrapper {
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 20%;
    border-radius: 10px;
    overflow: hidden;
}

.screenshot-image {
    width: 100%;
}

.block-height {
    height: 500px;
}

.project-title {
    text-align: center;
}

.project-screenshot {
    overflow: hidden;
}

.break-row {
    width: 33.333%;
}

/*===== END projects - common styles =====*/


.project-1-wrapper,
.project-2-wrapper,
.project-3-wrapper,
.project-4-wrapper,
.project-5-wrapper,
.project-6-wrapper,
.project-7-wrapper,
.project-8-wrapper,
.project-9-wrapper {
    display: flex;
}

.direction-row {
    width: 50%;
}

.direction-column {
    width: 100%;
}

.row-block {
    width: 66.666%;
}

.column-block {
    width: 33.333%;
}


.project-1-wrapper {
    flex-direction: row;
}

.project-1-wrapper .project-screenshot,
.project-1-wrapper .project-description {
    border: 1px solid red;
}

.project-1-wrapper .project-description {
    border: 1px solid green;
}

.project-2-wrapper {
    position: relative;
    flex-direction: column;
}

.project-2-wrapper .project-screenshot,
.project-2-wrapper .project-description {
    border: 1px solid red;
}

.project-2-wrapper .project-description {
    position: absolute;
    border: 1px solid green;
}

.project-3-wrapper {
    flex-direction: row-reverse;
}

.project-3-wrapper .project-screenshot,
.project-3-wrapper .project-description {
    border: 1px solid red;
}

.project-3-wrapper .project-description {
    border: 1px solid green;
}

.project-4-wrapper {
    flex-direction: row;
}

.project-4-wrapper .project-screenshot,
.project-4-wrapper .project-description {
    border: 1px solid red;
}

.project-4-wrapper .project-description {
    border: 1px solid green;
}

.project-5-wrapper {
    position: relative;
    flex-direction: column;
}

.project-5-wrapper .project-screenshot,
.project-5-wrapper .project-description {
    border: 1px solid red;
}

.project-5-wrapper .project-description {
    position: absolute;
    border: 1px solid green;
}

.project-6-wrapper {
    flex-direction: row-reverse;
}

.project-6-wrapper .project-screenshot,
.project-6-wrapper .project-description {
    border: 1px solid red;
}

.project-6-wrapper .project-description {
    border: 1px solid green;
}

.project-7-wrapper {
    flex-direction: row;
}

.project-7-wrapper .project-screenshot,
.project-7-wrapper .project-description {
    border: 1px solid red;
}

.project-7-wrapper .project-description {
    border: 1px solid green;
}

.project-8-wrapper {
    position: relative;
    flex-direction: column;
}

.project-8-wrapper .project-screenshot,
.project-8-wrapper .project-description {
    border: 1px solid red;
}

.project-8-wrapper .project-description {
    position: absolute;
    border: 1px solid green;
}

.project-9-wrapper {
    flex-direction: row-reverse;
}

.project-9-wrapper .project-screenshot,
.project-9-wrapper .project-description {
    border: 1px solid red;
}

.project-6-wrapper .project-description {
    border: 1px solid green;
}

/*===== end main section =====*/

/*===== footer =====*/

/*===== end footer =====*/
